<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eviniz üçün tikinti material və avadanlıqları burada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#"><img src="{{ url_for('static', filename='img/logo-eviniztikilsin.png') }}" width="150" height="150" /></a>
        </div>
        <div class="navbar-menu">
            <ul class="navbar-links">
                <li><a href="#">Ana Səhifə</a></li>
                <li class="dropdown">
                    <a href="#">Ləvazimatlar</a>
                    <div class="dropdown-content">
                        <a href="#">Drelllər</a>
                        <a href="#">Mismar</a>
                        <a href="#">Hamam üçün motor və digər</a>
                    </div>
                </li>
                <li><a href="#">Ünvana Çatdırılma Xidməti Haqqında</a></li>
                <li class="dropdown">
                    <a href="#">Avadanlıq və Materiallar</a>
                    <div class="dropdown-content">
                        <a href="#">Bağ  1</a>
                        <a href="#">Hovuz 2</a>
                        <a href="#">Tikinti 3</a>
                    </div>
                </li>
                <li><a href="#">Əlaqə</a></li>
            </ul>
            <div class="navbar-search">
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="navbar-toggle" id="navbarToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>

<section class="body">
    <div class="filter-area">
        <h1>Filter Products</h1>
        <form id="filterForm">
            <label for="category">Kateqoriya:</label>
            <input type="text" id="category" name="category">
            <br>
            <label for="min_price">(₼)Min Qiymət:</label>
            <input type="number" id="min_price" name="min_price" step="0.01">
            <br>
            <label for="max_price">(₼)Max Qiymət:</label>
            <input type="number" id="max_price" name="max_price" step="0.01">
            <br>
            <label for="rating">Min Rating:</label>
            <input type="number" id="rating" name="rating" step="0.1" min="0" max="5">
            <br>
            <button type="submit">Filter</button>
        </form>
        <h2>Axtarışın Nəticələri</h2>
    </div>
    <div class="slider">
        <div id="results" class="slides"></div>
        <div class="controls">
            <span class="prev">&#10094;</span>
            <span class="next">&#10095;</span>
        </div>
    </div>
    <div class="section01-title">
       <h3>Tikinti üçün materiallar</h3>

    <div class="slider">
        <div class="slides">

            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari01.png') }}" alt="Bag Desti">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Screwdriver</p>
                        <p>Set of 7 pieces</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">77.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Pulsuz</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact"><i class="fas fa-phone">+994127777700</i><i class="fab fa-whatsapp">+994777777700</i></span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari14.png') }}" alt="Bağ ləvazimatları">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Kəlbətin</p>
                        <p>12 Ölçülü tək ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">17.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Pulsuz</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikitiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/dreldesti.jpg') }}" alt="Image 3">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari01.png') }}" alt="Image 4">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari15.png') }}" alt="Image 5">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikitiSatisMagaza</span>
                        <span class="seller-contact"><i class="fab fa-whatsapp fa-lg" style="color: #63E6BE;">+994777777700</i></span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari03.png') }}" alt="Image 6">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari05.png') }}" alt="Image 7">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari01.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari01.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari04.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari05.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari06.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari07.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari08.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari09.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiemateriallari10.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari11.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari12.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintimateriallari13.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari01.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari01.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari01.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari01.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_construction/tikintiavadanliqlarivemateriallari01.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>

            <!-- More slides -->
        </div>
        <div class="controls">
            <span class="prev">&#10094;</span>
            <span class="next">&#10095;</span>
        </div>
    </div>

   </div>
      <div class="section02-title">
       <h3>Bağ üçün ləvazimatlar</h3>

    <div class="slider">
        <div class="slides">

            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/bagdesti02.jpg') }}" alt="Bag Desti">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Trimmer</p>
                        <p>Set of 7 pieces</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">77.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Pulsuz</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/baglevazimatlaridest01.jpg') }}" alt="Bağ ləvazimatları">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Bel</p>
                        <p>12 Ölçülü tək ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">17.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Pulsuz</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari03.png') }}" alt="Image 3">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otbicen</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari04.png') }}" alt="Image 4">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari05.png') }}" alt="Image 5">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari09.png') }}" alt="Image 6">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                    <span class="seller-info">
                        <span class="seller-name">TikintiSatisMagaza</span>
                        <span class="seller-contact">+994777777700</span>
                        <span class="seller-address">
                            <p class="seller-address">Unvan: </p>
                            <p class="seller-location">Pirsagi qes.</p>
                        </span>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari06.png') }}" alt="Image 7">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari07.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari08.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari08.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/img_garden/baglevazimatlari10.png') }}" alt="Image 8">
                </div>
                <div class="text-img">
                    <span class="title-img">
                        <p>Otvertka dəsti</p>
                        <p>3 Ölçüdə 5 ədəd</p>
                    </span>
                    <span class="price-img">
                        <span class="amount-img">7.99</span>
                        <span class="currency-img">AZN</span>
                    </span>
                    <span class="delivery-img">
                        <p>Çatdırılma: </p>
                        <p>Var</p>
                    </span>
                </div>
            </div>

            <!-- More slides -->
        </div>
        <div class="controls">
            <span class="prev">&#10094;</span>
            <span class="next">&#10095;</span>
        </div>
    </div>

   </div>
   <!-- More sections -->
</section>
<footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3>About Us</h3>
                <p>We are committed to providing the best services. Our mission is to make your experience unforgettable.</p>
            </div>
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Ləvazimatlar</a></li>
                    <li><a href="#">Çatdırılma Us</a></li>
                    <li><a href="#">Əlaqə</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Follow Us</h3>
                <div class="social-icons">
                    <img src="{{ url_for('static', filename='img/logo-eviniztikilsin.png') }}" width="150" height="150" />
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Newsletter</h3>
                <form id="subscription-form">
                    <input type="email" id="email" placeholder="Enter your email">
                    <button type="submit">Subscribe</button>
                </form>
                <p id="subscription-message"></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 EvinizTikilsin. All rights reserved.</p>
        </div>
</footer>

    <!-- Include FontAwesome for icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
